@if (visible()) {
  <div
    class="gns-drawer-backdrop"
    role="presentation"
    aria-hidden="true"
    (click)="handleBackdropClick()">
  </div>

  <div
    [class]="cssClass()"
    [attr.style]="widthStyle()"
    role="dialog"
    aria-modal="true"
    [attr.aria-labelledby]="titleId"
    tabindex="-1">

    @if (effectiveTitle() || effectiveShowClose()) {
      <div class="gns-drawer__header">
        @if (effectiveTitle()) {
          <h2 class="gns-drawer__title" [id]="titleId">{{ effectiveTitle() }}</h2>
        }
        @if (effectiveShowClose()) {
          <button
            type="button"
            class="gns-drawer__close"
            aria-label="Close panel"
            (click)="closeDrawer()">
            <span aria-hidden="true">&times;</span>
          </button>
        }
      </div>
    }

    <div class="gns-drawer__body">
      @if (serviceOpen() && serviceContent()) {
        @if (isTemplate(serviceContent())) {
          <ng-container [ngTemplateOutlet]="asTemplate(serviceContent())" />
        } @else {
          <ng-container [ngComponentOutlet]="asComponent(serviceContent())" />
        }
      } @else {
        <ng-content />
      }
    </div>
  </div>
}
